VITE_API_URL=http://localhost:8000
VITE_NODE_ENV=development

VITE_GITHUB_REPO=abc

VITE_BANK_NAME=abc
VITE_BANK_ACCOUNT=abc
VITE_BANK_ACCOUNT_NAME=abc
VITE_BANK_ACCOUNT_NUMBER=abc
VITE_BANK_CODE=abc
VITE_BANK_QR_BASE_URL=abc

VITE_TIMEOUT=10000

VITE_PAGE_URL=http://localhost:3000